.subtitle {
    font-weight: 700;
    font-size: 16px;
    color: $text-color;
    &_fs14 {
        font-size: 14px;
    }
    &_fs20 {
        font-size: 20px;
        line-height: 30px;
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
}