.works {
    min-height: 900px;
    &__tabs {
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        width: 800px;
        justify-content: space-between;
        align-items: center;
    }
    &__tab {
        border: 2px solid $main-color;
        border-radius: 30px;
        width: 140px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.6s all;
        &-active {
            background-color: $main-color;
            color:#fff;
            transition: 0.6s all;
        }
    }
    &__items {
        margin: 0 auto;
        margin-top: 40px;
    }
    &__item {
        padding: 0 52px;
        display: none;
        grid-template-columns: 400px 636px;
        grid-template-rows: 400px 150px;
        transition: 0.6s all;
        &-photo {
            grid-column-start: 1;
            grid-row-start: 1;
            margin: 0 auto;
            width: 400px;
            height: 400px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &-active {
            display: grid;
            transition: 0.6s all;
            opacity: 1;
        }
        &-info {
            padding-top: 15px;
            width: 100%;
            text-align: center;
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .line {
            margin-top: 12px;
        }
        &-title {
            font-size: 18px;
        }
        &-link {
            margin: 0 auto;
            margin-top: 16px;
            border: 2px solid $main-color;
            border-radius: 30px;
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.6s all;
            color:#fff;
            background-color: $main-color;
            &:hover {
                text-decoration: none;
                color: $text-color;
                background-color: #fff;
            }
        }
        &-descr {
            font-size: 20px;
            padding: 15px;
            padding-left: 40px;
            padding-top: 5px;
            grid-column-start: 2;
            grid-row: 1/3;
        }
    }
}